.body {
    background-color: #f1f3f5!important;
}

#pdf-container{
    min-height: 300px;
}

canvas, .canvas-container {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.toolbar {
    width: 100%;
    /*background-color: #e7ebee;*/
    height: auto;
    position: fixed;
    left: 0;
    top: 100!important;
    z-index: 1;
}
/*.toolbar:first-child {
    

}
.toolbar:nth-child(2) {
    top: 150!important;
    z-index: 100;

}*/
/*.toolbar {
    width: 100%;
    background-color: #e7ebee;
    height: 50px;
    position: fixed;
    top: 150;
    left: 0;
    z-index: 10;
}*/

#pdf-container {
    display: flex;
    margin-top: 60px;
    padding-left: 10px;
    text-align: center;
}

button:focus {
    outline: 0;
}

.toolbar .tool {
    display: inline-block;
    color: #868e96;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 5px;
}

.toolbar .tool label,
.toolbar .tool select,
.toolbar .tool input {
    display: inline-block;
    width: auto;
    height: auto !important;
    padding: 0;

}

.toolbar .tool input {
    width: 50px;
}

.toolbar .tool .color-tool {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    display: inline-block;
}

.toolbar .tool .color-tool.active {
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

.toolbar .tool:nth-last-child(1) {
    float: right;
}

.toolbar .tool .tool-button {
    /*background-color: rgb(50, 54, 57);
    border: 1px solid rgb(50, 54, 57);
    color: #fff;
    cursor: pointer;*/
}

.toolbar .tool .tool-button:hover,
.toolbar .tool .tool-button.active {
    background-color: rgb(82, 86, 89);
    border-color: rgb(82, 86, 89);
}


#drawCanvans {
    /*width: 100%;*/
    /*min-height: 250px;*/
    margin: 0px;
    border: 0.1px solid grey;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: none;
    touch-action: none; 
    user-select: none;
}